<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <!-- header -->
  <%= render 'sizes/header' %>

  <main>
    <div class="container">
        <div class="select">
          <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">サイズを選択してください
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">

              <% @sizes.each do |size| %>
                <li><%= link_to size.sub(/_/, '/'), manufacture_path(size) %></li>
              <% end %>
            </ul>
            <!-- <a class="btn btn-default" data-toggle="collapse" href="#collapseExample">車種から探す</a> -->
            <!-- モーダルボタン -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#sampleModal">タイヤサイズの確認方法</button>
          </div>


            <!-- モーダルの内容 -->
            <div class="modal fade" id="sampleModal" tabindex="-1">
              <div class="modal-dialog" style="height: 500px; width: 800px;">
                <div class="modal-content">
                  <div class="modal-header">現在のお車のタイヤの側面をご確認ください
                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                </div>
                <div class="modal-body">
                  <div class="" style="background-image: url(/images/tire_size.jpeg); background-size: cover;background-position: top center; height:400px; width: 700px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- 車種から探すボタンの内容 -->
      <div class="collapse" id="collapseExample">
        <div class="well">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#sampleContentA" data-toggle="tab">トヨタ</a></li>
            <li><a href="#sampleContentB" data-toggle="tab">ホンダ</a></li>
            <li><a href="#sampleContentC" data-toggle="tab">ニッサン</a></li>
            <li><a href="#sampleContentD" data-toggle="tab">マツダ</a></li>
            <li><a href="#sampleContentB" data-toggle="tab">スバル</a></li>
            <li><a href="#sampleContentB" data-toggle="tab">スズキ</a></li>
            <li><a href="#sampleContentB" data-toggle="tab">ミツビシ</a></li>
            <li><a href="#sampleContentB" data-toggle="tab">ダイハツ</a></li>
          </ul>
          <!-- タブ内容 -->
          <div class="tab-content">
            <div class="tab-pane active" id="sampleContentA">
              <p>タブＡの内容</p>
              <p>タブＡの内容</p>
              <p>タブＡの内容</p>
              <p>タブＡの内容</p>
              <p>タブＡの内容</p>
            </div>
            <div class="tab-pane" id="sampleContentB">
              <p>タブＢの内容</p>
            </div>
            <div class="tab-pane" id="sampleContentC">
              <p>タブＣの内容</p>
            </div>
            <div class="tab-pane" id="sampleContentD">
              <p>タブＤの内容</p>
            </div>
          </div>
        </div>
      </div>

      <h3>ラインナップ</h3>
      <table>
        <tbody>
          <tr>
            <td class="tire-maker"><img class="maker-logo" src="images/bs-logo.jpg"></td>
          </tr>
          <tr>
            <td><img class="tire-bs" src="images/vrx2.jpg"></td>
            <td><img class="tire-bs" src="images/vrx1.jpg"></td>
          </tr>
        </tbody>
      </table>
      <p>出典；株式会社ブリジストン</p>

      <table>
        <tbody>
          <tr>
            <td class="tire-maker"><img class="maker-logo" src="images/dl-logo.jpg"></td>
          </tr>
          <tr>
            <td><img class="tire-dl" src="images/wm02.jpg"></td>
            <td><img class="tire-dl" src="images/wm01.jpg"></td>
          </tr>
        </tbody>
      </table>
      <p>出典；ダンロップタイヤ</p>

      <table>
        <tbody>
          <tr>
            <td class="tire-maker"><img class="maker-logo" src="images/yh-logo.jpg"></td>
          </tr>
          <tr>
            <td><img class="tire-yk" src="images/ig6.jpg"></td>
            <td><img class="tire-yk" src="images/ig5.jpg"></td>
          </tr>
        </tbody>
      </table>
      <p>出典；横浜ゴム株式会社</p>


    </div>
  </main>

  <!-- footer -->
  <%= render 'sizes/footer' %>

</body>
</html>